body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}
.app {
    background: #ffcc00;
    width: 80%;
    height: 80vh;
    border-radius: 15px;
    border: 2px solid #ff0c00;
}
h1, h2 {
    text-align: center;
}
.app h1 span {
    color: #ff0c00 ;
}
.rules {
    padding: 10px;
    margin: 20px;
}